@import "../../sass/abstracts/variables";

.recent-search__heading {
  font-size: 24px;
  font-weight: bold;
}

.recent-search__description {
  margin-top: 15px;

  color: rgba($color-black, .5);
  font-size: 16px;
  line-height: 120%;
}

.recent-search__grid {
  margin-top: 25px;
}