@import "../../sass/abstracts/variables";

.repository-card {
  display: block;

  padding: 12px;
  border: 1px solid rgba($color-border, .5);
  box-sizing: border-box;

  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    .repository-card__name {
      color: rgba($color-black, .5);
    }
  }
}

.repository-card__name {
  color: $color-black;
  font-size: 18px;
  font-weight: bold;
  line-height: 140%;
}

.repository-card__description {
  margin-top: 5px;
  color: rgba($color-black, .5);
  line-height: 140%;
}

.repository-card__owner {
  display: flex;
  align-items: center;

  padding-top: 5px;
  margin-top: 15px;

  border-top: 1px solid $color-border;
}

.repository-card__owner-avatar {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  margin-right: 5px;
}

.repository-card__owner-login {
  color: $color-black;
  font-size: 12px;
  font-weight: bold;
}