@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.navigation {
  position: absolute;
  z-index: 100;

  top: 0;
  right: 0;
  left: 0;

  @include container();
  display: flex;

  border-bottom: 1px solid rgba($color-border, .5);
}

.navigation__link {
  padding: 15px 0;

  height: 100%;

  color: $color-black;
  text-decoration: none;

  border-bottom: 1px solid transparent;

  &:not(:last-child) {
    margin-right: 25px;
  }

  &.active {
    border-color: $color-border;
  }
}