@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.navigation {
  position: absolute;
  z-index: 100;

  top: 0;
  right: 0;
  left: 0;

  @include container();
  padding-left: 0;

  display: flex;

  border-bottom: 1px solid rgba($color-border, .5);
}

.navigation__link {
  padding: 15px 16px;

  height: 100%;

  color: $color-black;
  text-decoration: none;

  border-bottom: 1px solid transparent;

  &.active {
    border-color: $color-primary;
  }
}

.navigation__auth {
  margin-left: auto;

  display: flex;
  align-items: center;
}

.navigation__button:not(:first-child) {
  margin-left: 5px;
}